<p class="pull-right visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
</p>
<div class="jumbotron">
  <p>Search for a movie using the form below</p>
  <form>
    <div class="form-group">
      <div class="input-group">
          <mat-form-field style="width:100%">
              <input type="text" placeholder="Type here and press enter" aria-label="Number" matInput [formControl]="myControl" 
              [matAutocomplete]="auto" [(ngModel)]="searchStr" (keyup)="inputKeyUp($event)">
                <!--YOUR SOLUTION STARTS--> 
   

                <!--YOUR SOLUTION CODE ENDS-->
            </mat-form-field>
      </div>
      <!-- /input-group -->
    </div>
  </form>
</div>
<div>
  <h3 class="orange-text">Search Results</h3>
  <div *ngIf="searchRes" class="row is-flex">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of searchRes; let i = index;">
      <movie-card [movie]="movie"></movie-card>
    </div>
  </div>
</div>

<!--  BELOW IS THE SOLUTION CODE FOR AUTOCOMPLETE
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option.original_title" (onSelectionChange)="optionSelected(option.original_title)">
                    <img style="vertical-align:middle; margin-right: 10px" aria-hidden src="https://image.tmdb.org/t/p/w300/{{option.poster_path}}" height="25" />
                    <span>{{option.original_title}}</span> 
                </mat-option>
              </mat-autocomplete>

-->
